template
  #content.home-content
    #options-row
      #filter
        input#filter-input(type="text" placeholder="Filter Books" value.bind="filter" disabled)
      #owner
        .colour
        .text You own this book
    #books-row-empty(if.bind="!books.length")
      | No books
      br
      | available
    #books-row(if.bind="books.length")
      .book(repeat.for="book of books" click.delegate="showBook(book)")
        .book-status
          span.book-owner(if.bind="isOwner(book)")
        .book-cover
          img(src="${book.image}")
    book#book(book-selected.bind="bookSelected" state.bind="state")