template
  #content.user-content
    #options-row
      #filter
        input#filter-input(type="text" placeholder="Filter Books" value.bind="filter" disabled)

      #add-book(click.delegate="addBook()") Add Book

    #books-row-empty(if.bind="!books.length")
      | No books
      br
      | in your
      br
      | bookshelf

    #books-row(if.bind="books.length")
      .book(repeat.for="book of books" click.delegate="showBook(book)")
        .book-status
          span.book-owner(if.bind="book.owner")
          //- span.book-requested(if.bind="book.requested.length")
          //- span.book-offered(if.bind="book.offered.length")

        .book-cover
          img(src="${book.image}")

    book#book(book.bind="book")