template
  #footer
    #footer-note
      | Written by&nbsp;
      a.footer-link(href="https://www.freecodecamp.org/letsziggy" target="_blank") LetsZiggy
      | &nbsp;for&nbsp;
      a.footer-link(href='https://www.freecodecamp.org/challenges/manage-a-book-trading-club', target='_blank') FreeCodeCamp Challenge
      | .

    #disclaimer Not optimized for mobile (yet)

    #resources-content
      input#resources-checkbox(type="checkbox")
      label#resources-link(for="resources-checkbox") Resources
      label#resources-backdrop(for="resources-checkbox")

      #resources-popup
        label#resources-close(for="resources-checkbox") &#x2715;
        h5 Resources
        hr
        ul
          li
            a(href="https://github.com/websockets/ws/issues/367#issuecomment-58224081" target="_blank") Sending to a specific client with ws
          li
            a(href="https://github.com/aurelia/templating/issues/376#issuecomment-228938571" target="_blank") Aurelia.js element.ref in repeat.for (Method 01)
          li
            a(href="https://stackoverflow.com/a/36181339" target="_blank") Aurelia.js element.ref in repeat.for (Method 02)