template(bindable="router, state")
  ul.nav
    li
      a(href.bind="router.navigation[0].href")
        img(src="https://s3.amazonaws.com/freecodecamp/freecodecamp-logo-icon-square-400-400.png")
    li(repeat.for="nav of router.navigation" class="${nav.isActive ? 'active' : ''}" if.bind="nav.title !== 'User' ? true : state.user.username ? true : false")
      a(href.bind="nav.href") ${nav.title === 'Login' ? state.user.username ? 'Logout' : nav.title : nav.title}

  span.nav-title FreeCodeCamp - Manage a Book Trading Club